:root {
  box-sizing: border-box;

  --primary-color: #000;
  --secondary-color: #191919;
  --font-color: #ff00ff;
}

body {
  background-image: linear-gradient(
    to right,
    #000000,
    #1b030f,
    #27061e,
    #310531,
    #330949,
    #330949,
    #330949,
    #330949,
    #310531,
    #27061e,
    #1b030f,
    #000000
  );
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--font-color);
}

.bg-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 960px;
  background: no-repeat;
  background-image: url(./image/bg-1.jpg);
}

.bg-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: white;
}

.bg-logo img {
  width: 100px;
  height: auto;
  position: absolute;
}

#bg-op {
  width: 35vw;
  height: 200px;
  background-color: white;
  opacity: 40%;
  position: absolute;
}

.copyright {
  margin-top: 900px;
  position: absolute;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  width: 75vw;
  height: auto;
  padding: 1rem;
  background-color: var(--primary-color);
  -webkit-box-shadow: -9px 0px 16px 0px
    rgba(50, 50, 50, 0.53);
  -moz-box-shadow: -9px 0px 16px 0px
    rgba(255, 255, 255, 0.53);
  box-shadow: -9px 0px 16px 0px rgba(255, 255, 255, 0.53);
}

.title {
  font-size: 1.6rem;
  color: var(--font-color);
}

.form form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.colm-one,
.colm-tow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

form label {
  font-size: large;
}

form input {
  width: 350px;
  padding: 10px;
}

.btn-login button {
  font-size: large;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.btn-login p {
  font-size: 1rem;
  color: var(--font-color);
}

input[type='email'],
input[type='text'],
input[type='password'],
input[type='number']:invalid {
  border: red;
}
input[type='email'],
input[type='text'],
input[type='password'],
input[type='number']:valid {
  border: green;
}
